.front {
    background-color: #9DC183;
    min-height: 100vh;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.top {
    text-align: left;
}

.head_font {
    font-size: calc(10px + 1vmin);
}

.content_font {
    font-size: calc(10px + 0.5vmin);
}

.add {
    margin-bottom: -5px;
}

.confirm {
    font-size: calc(14px + 1vmin);
    text-align: left;
    margin-left: calc(20px + 1vmin);
}