<!DOCTYPE html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
    <meta charset="utf-8">
    <title>질병진단 결과</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1> {{ second }}</h1>
<h2> {{ first }}</h2>
<h3 class = "midNBlue"> {{ value1 }}%</h3>
<h3 class = "midNBlue"> {{ value2 }}%</h3>

<h3>Dataset 2 result</h3>
<h4 class = "red">Severe: {{ val2Severe }}%</h4>
<h4 class = "orange">Mild: {{ val2Mild }}%</h4>
<h4 class = "complex">Complex: {{ val2Complex }}%</h4>
<h4 class = "healthy">Healthy: {{ val2Healthy }}%</h4>
<br>
<h3>Dataset 1 result</h3>
<h4 class = "red">Severe: {{ val1Severe }}%</h4>
<h4 class = "orange">Mild: {{ val1Mild }}%</h4>
<h4 class = "brown">Blight: {{ val1Blight }}%</h4>
<h4 class = "healthy">Healthy: {{ val1Healthy }}%</h4>
<h4 class = "parasite">Parasite {{ val1Parasite }}%</h4>
<h4 class = "virus">Virus: {{ val1Virus }}%</h4>
</body>
</html>